.about {
  text-decoration: underline;
}

.portfolio {
  text-decoration: underline;
}

.contact {
  text-decoration: underline;
}

.quote {
  text-align: center;
  font-family: 'Tangerine', cursive;
}

html {
  font-family: 'Playfair Display SC', serif;
}

.slide1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide2 {
  background-color: rgba(255, 255, 255, 0.5);
}

.slide3 {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide4 {
  background-color: rgba(255, 255, 255, 0.5);
}
.card-image:hover{
  opacity: 0.7
}

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}
@media screen and (max-width: 710px) {
  #logo-container{
    font-size: 125%;
    }
  }
@media screen and (max-width: 375px) {
      #logo-container{
        font-size: 115%;
      }
    }
.slider .indicators .indicator-item.active {
    background-color: #2979ff;
}
#gsHeading{
  color: #eee;
}
.collapsible-header{
  text-align: center;
}
