.about {
  text-decoration: underline;
}

.portfolio {
  text-decoration: underline;
}

.contact {
  text-decoration: underline;
}

.quote {
  text-align: center;
  font-family: 'Tangerine', cursive;
}

html {
  font-family: 'Playfair Display SC', serif;
}

.slide1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide2 {
  background-color: rgba(255, 255, 255, 0.5);
}

.slide3 {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide4 {
  background-color: rgba(255, 255, 255, 0.5);
}
.card-image:hover{
  opacity: 0.7
}
html {
  height:100%
}

body {
  opacity: 1;
  transition: 1s opacity;
  background-image: url("http://images.dreesteam.com/dreeshomes2016/hpslides/HOU/1_LinleyA_RAP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-position: center;
}

body.fade-out {
  opacity: 0;
  transition: none;
}
@media screen and (max-width: 710px) {
  #logo-container{
    font-size: 125%;
    }
  }
@media screen and (max-width: 375px) {
      #logo-container{
        font-size: 115%;
      }
    }
.slider .indicators .indicator-item.active {
    background-color: #2979ff;
}
#homeNav{
  background-color: rgba(0, 0, 0, 0.9);
}
#m1{
  background-color: rgba(0, 0, 0, 0.9)
}
#m2{
  background-color: rgba(0, 0, 0, 0.9)
}
/* .hue{
  background-color: rgba(177,142,209,0.2);
  height: 100%;
  width: 100%;
} */
